{% extends "base.html" %}

    {% block content %} 
      {% if solucion %} 
      <h1> {{ solucion }}  </h1>
      {%endif%}

      {% if pokemon %}


      <form action="{{ url_for('busquedapokedex')}} " method="post">
        <h1>Buscar :</h1>
        <div class="mb-3">
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduzca el nombre de usuario" required>
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-primary" id="send-signup" name="signup" value="Buscar"  />
        </div>
    </form>

      {% for pokemon in pokedex %}
            <div class="pokemon">
            <h1>Nº : {{pokemon.num}}</h1>
            <img src={{pokemon.img}}>
            <h1>{{pokemon.name}}</h1>
            <h1>
            Tipo :
            {% for i in pokemon.type %}
                {{i}}
              {% endfor %}
            </h1>
            <h1>Altura : {{pokemon.height}}</h1>
            <h1>Peso : {{pokemon.weight}}</h1>
            <h1>Debilidad :
              {% for i in pokemon.weaknesses %}
                {{i}}
              {% endfor %}
    
    
            </h1>
        


      </div>
      
      {% endfor %}
          

        <div class="pagination">
          <ul class="pagination">
            {%if atras != -1%}
            <li class="page-item active"><a class="page-link" href="{{ url_for('pokedex',cadena=atras ) }}">Pagina Anterior</a></li>
            {% endif %}
  
            {% for i in paginas %}
  
            {%if i.numero == paginado%}
            <li class="page-item active"><a class="page-link" href="{{ url_for('pokedex',cadena=i.valor ) }}">{{i.numero}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('pokedex',cadena=i.valor ) }}">{{i.numero}}</a></li>
            {% endif %}
  
            {% endfor %}
  
            {%if siguiente != 0%}
            <li class="page-item active"><a class="page-link" href="{{ url_for('pokedex',cadena=siguiente ) }}">Siguiente Pagina</a></li>
            {% endif %}
          </ul>

        </div>
        
      


      {%endif%}


    {% endblock %}
 